<h1>Discover</h1>
<section class='card-set'>
    <h2>For you</h2>
    <article class='card-container'>
        <article class='card card-primary-outline search-item'>
            <h3>Search Item</h3>
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Deleniti assumenda nostrum modi ipsam, non esse
                dolores, culpa cum similique maxime quasi, error magni quisquam. Culpa quis sunt explicabo aspernatur
                quaerat!
            </p>
            <div class='btn-container'>
                <a class='btn btn-primary' href='javascript:void(0)'>View</a>
                <a class='btn btn-primary-outline' href='javascript:void(0)'>Study</a>
            </div>
        </article>
        <article class='card card-primary-outline search-item'>
            <h3>Search Item</h3>
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Deleniti assumenda nostrum modi ipsam, non esse
                dolores, culpa cum similique maxime quasi, error magni quisquam. Culpa quis sunt explicabo aspernatur
                quaerat!
            </p>
            <div class='btn-container'>
                <a class='btn btn-primary' href='javascript:void(0)'>View</a>
                <a class='btn btn-primary-outline' href='javascript:void(0)'>Study</a>
            </div>
        </article>
    </article>
</section>
<section class='card-set'>
    <h2>History</h2>
    <article class='card-container'>
        <article class='card card-primary-outline search-item'>
            <h3>Search Item</h3>
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Deleniti assumenda nostrum modi ipsam, non esse
                dolores, culpa cum similique maxime quasi, error magni quisquam. Culpa quis sunt explicabo aspernatur
                quaerat!
            </p>
            <div class='btn-container'>
                <a class='btn btn-primary' href='javascript:void(0)'>View</a>
                <a class='btn btn-primary-outline' href='javascript:void(0)'>Study</a>
            </div>
        </article>
        <article class='card card-primary-outline search-item'>
            <h3>Search Item</h3>
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Deleniti assumenda nostrum modi ipsam, non esse
                dolores, culpa cum similique maxime quasi, error magni quisquam. Culpa quis sunt explicabo aspernatur
                quaerat!
            </p>
            <div class='btn-container'>
                <a class='btn btn-primary' href='javascript:void(0)'>View</a>
                <a class='btn btn-primary-outline' href='javascript:void(0)'>Study</a>
            </div>
        </article>
    </article>
</section>
