<header>
    <nav>
        <a href='create.html' class='nav-item'>
            <img src='./icons/create.svg' alt='account' height='30' width='30'>
            <p>Create</p>
        </a>
        <a class='nav-item' href='javascript:void(0)'>
            <img src='./icons/dashboard.svg' alt='dashboard' height='30' width='30'>
            <p>My Sets</p>
        </a>
        <a class='nav-item' href='discover.html'>
            <img src='./icons/stars.svg' alt='discover' height='30' width='30'>
            <p>Discover</p>
        </a>
        <button id='btn-search' class='nav-item'>
            <img src='./icons/search.svg' alt='search' height='30' width='30'>
            <p>Search</p>
        </button>
    </nav>
    <button type='menu' onclick='javascript:window.location.href="#login"' class='btn-account nav-item' id='open-login'>
        <img src='./icons/account.svg' alt='account' height='40' width='40'>
        <menu class='dropdown-menu'>
            <li><a href='javascript:void(0)'>Settings</a></li>
            <li><a href='javascript:void(0)'>Logout</a></li>
        </menu>
    </button>
</header>
